<Project Sdk="{{projectSdk}}">
  <PropertyGroup>
    <Description>{{packageDescription}}{{^packageDescription}}{{packageName}}{{/packageDescription}}</Description>
    <Copyright>{{packageCopyright}}</Copyright>
    <Authors>{{packageAuthors}}</Authors>
    <TargetFramework>{{targetFramework}}</TargetFramework>
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    <Version>{{packageVersion}}</Version>
{{#nullableReferenceTypes}}
    <Nullable>annotations</Nullable>
{{/nullableReferenceTypes}}
{{#isLibrary}}
    <OutputType>Library</OutputType>
{{/isLibrary}}
    <AssemblyName>{{packageName}}</AssemblyName>
    <PackageId>{{packageName}}</PackageId>
    <UserSecretsId>{{userSecretsGuid}}</UserSecretsId>
    <DockerDefaultTargetOS>Linux</DockerDefaultTargetOS>
    <DockerfileContext>..\..\..</DockerfileContext>
    <DockerComposeProjectPath>..\..\..\docker-compose.dcproj</DockerComposeProjectPath>
    <RootNamespace>{{packageName}}</RootNamespace>
  </PropertyGroup>

  <ItemGroup>
    {{^useSeperateModelProject}}<PackageReference Include="Microsoft.Extensions.Configuration.Json" Version="7.0.0" />{{/useSeperateModelProject}}
    <PackageReference Include="Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" Version="7.0.2" />
    <PackageReference Include="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" Version="1.17.0" />
    <PackageReference Include="NETStandard.Library" Version="2.0.3" />
    <PackageReference Include="Swashbuckle.AspNetCore" Version="6.4.0" />
    <PackageReference Include="Swashbuckle.AspNetCore.Annotations" Version="6.4.0" />
    <PackageReference Include="Swashbuckle.AspNetCore.Swagger" Version="6.4.0" />
    <PackageReference Include="IdentityServer4.AccessTokenValidation" Version="3.0.1" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer" Version="5.0.0" />
    <PackageReference Include="Serilog.Expressions" Version="3.4.1" />
    <PackageReference Include="Microsoft.Extensions.Logging" Version="7.0.0" />
    <PackageReference Include="Swashbuckle.AspNetCore.SwaggerUI" Version="6.5.0" />
    <PackageReference Include="System.ComponentModel" Version="4.3.0" />
    <PackageReference Include="JsonSubTypes" Version="1.8.0" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Versioning" Version="5.0.0" />
    <PackageReference Include="Serilog.AspNetCore" Version="6.1.0" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\..\..\libs\core\dotnet\application\OpenSystem.Core.Application.csproj" />
    <ProjectReference Include="..\..\..\libs\core\dotnet\infrastructure\OpenSystem.Core.Infrastructure.csproj" />
    <ProjectReference Include="..\..\..\libs\core\dotnet\webapi\OpenSystem.Core.WebApi.csproj" />
    <ProjectReference Include="..\..\..\libs\{{lowerDomainName}}\server\application\OpenSystem.{{capitalDomainName}}.Application.csproj" />
    <ProjectReference Include="..\..\..\libs\{{lowerDomainName}}\server\infrastructure\OpenSystem.{{capitalDomainName}}.Infrastructure.csproj" />
  </ItemGroup>

  <ItemGroup>
    <Content Update="appsettings.json">
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
  </ItemGroup>
</Project>
