{
  "$schema": "../../../node_modules/nx/schemas/project-schema.json",
  "name": "{{projectName}}",
  "projectType": "application",
  "sourceRoot": "{{sourceRoot}}",
  "targets": {
    "build": {
      "executor": "@open-system/executors-dotnet:build",
      "output": ["dist/{{sourceRoot}}"],
      "options": {
        "configuration": "Debug",
        "noDependencies": false
      },
      "configurations": {
        "production": {
          "configuration": "Release"
        },
        "docker": {
          "configuration": "Debug",
          "noDependencies": false
        }
      }
    },
    "build-base": {
      "executor": "@nx-dotnet/core:build",
      "output": ["dist/{{sourceRoot}}"],
      "options": {
        "configuration": "Debug",
        "noDependencies": false
      },
      "configurations": {
        "production": {
          "configuration": "Release"
        },
        "docker": {
          "configuration": "Debug"
        }
      }
    },
    "publish": {
      "executor": "@nx-dotnet/core:publish",
      "selfContained": true,
      "output": ["dist/{{sourceRoot}}/publish"],
      "options": {
        "configuration": "Debug",
        "noDependencies": true
      },
      "configurations": {
        "production": {
          "configuration": "Release"
        },
        "docker": {
          "configuration": "Debug",
          "output": "/app/publish"
        }
      }
    },
    "serve": {
      "executor": "@nx-dotnet/core:serve",
      "options": {
        "configuration": "Debug"
      },
      "configurations": {
        "production": {
          "configuration": "Release"
        }
      }
    },
    "lint": {
      "executor": "@nx-dotnet/core:format"
    },
   "server-api-sync": {
      "executor": "@open-system/executors-dotnet:server-api-sync",
      "options": {
        "domainName": "{{domainName}}",
        "serviceName": "{{serviceName}}",
        "specJsonFile": "{{specJsonFile}}",
        "packageName": "{{packageName}}"
      }
    },
    "docker": {
      "executor": "@nx-tools/nx-container",
      "options": {
        "file": "./Dockerfile",
        "load": true,
        "tags": ["{{dockerTag}}"]
      }
    },
    "semantic-release": {
      "executor": "@theunderscorer/nx-semantic-release:semantic-release",
      "options": {
        "github": true,
        "npm": false,
        "changelog": true,
        "tagFormat": "{{projectName}}-v${VERSION}"
      }
    }
  },
  "tags": ["domain:{{domainName}}", "type:apps", "target:apis"]
}
