{{#models}}
{{#model}}
import { {{classname}}{{#hasEnums}}{{#vars}}{{#isEnum}}, {{classname}}{{enumName}} {{/isEnum}} {{/vars}}{{/hasEnums}} } from './{{classname}}';
{{/model}}
{{/models}}

export const enumsMap: Set<string> = new Set<string>([
    {{#models}}
        {{#model}}
            {{#isEnum}}
    "{{classname}}{{enumName}}",
            {{/isEnum}}
            {{#hasEnums}}
                {{#vars}}
                    {{#isEnum}}
    "{{classname}}{{enumName}}",
                    {{/isEnum}}
                {{/vars}}
            {{/hasEnums}}
        {{/model}}
    {{/models}}
]);

export const typeMap: {[index: string]: any} = {
    {{#models}}
        {{#model}}
            {{^isEnum}}
    "{{classname}}": {{classname}},
            {{/isEnum}}
        {{/model}}
    {{/models}}
}
