{{>partial_header}}
using System;
using System.Collections.Generic;
using {{modelPackage}};
using Microsoft.Extensions.Logging;
using System.Text.Json;
using OpenSystem.Core.Application.Interfaces;
using OpenSystem.Core.Domain.ResultCodes;
using MediatR;

namespace {{apiPackage}}
{ {{#operations}}
    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>{{#notes}}
    /// <remarks>{{.}}</remarks>{{/notes}}
    public class {{requestName}} : {{#allParams}}{{#isBodyParam}}{{dataTypeWithoutNullable}}, {{/isBodyParam}}{{/allParams}}IRequest<Result<{{successResponseType}}>>
    {
        {{#allParams}}
        {{^isBodyParam}}
        {{^-last}}

        {{/-last}}
        /// <summary>
        /// {{description}}
        /// </summary>
        public {{&dataType}} {{nameInUpperCase}} { get; set; }{{#defaultValue}} = {{{.}}};{{/defaultValue}}
        {{/isBodyParam}}
        {{/allParams}}
    }
    {{^-last}}

    {{/-last}}
    {{/operation}}
{{/operations}}
}
