::selection {
  background: #3730a3; /* WebKit/Blink Browsers */
  color: #faf9f6; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #3730a3; /* Gecko Browsers */
  color: #faf9f6; /* Gecko Browsers */
}

:host {
  --title-texts: 3;
  --sub-nav-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.2),
    0 7px 7px rgba(0, 0, 0, 0.15);
}

input:-webkit-autofill:not(:read-only),
input:-webkit-autofill:focus:not(:read-only),
textarea:-webkit-autofill:not(:read-only),
textarea:-webkit-autofill:focus:not(:read-only),
select:-webkit-autofill:not(:read-only),
select:-webkit-autofill:focus:not(:read-only) {
  transition: background-color 900000s 0s, color 900000s 0s;
}

input:-webkit-autofill:read-only,
input:-webkit-autofill:focus:read-only,
input:-webkit-autofill:disabled,
input:-webkit-autofill:focus:disabled,
textarea:-webkit-autofill:read-only,
textarea:-webkit-autofill:focus:read-only,
textarea:-webkit-autofill:disabled,
textarea:-webkit-autofill:focus:disabled,
select:-webkit-autofill:read-only,
select:-webkit-autofill:focus:read-only,
select:-webkit-autofill:disabled,
select:-webkit-autofill:focus:disabled {
  transition: background-color 1s 0s, color 1s 0s !important;
}

.flip-horizontal {
  transform: rotateX(180deg);
}

.flip-vertical {
  transform: rotateY(180deg);
}

.text-glow {
  text-shadow: 0 0 65px rgba(255, 255, 255, 0.9);
}

.text-glow-purple {
  text-shadow: 0 0 2px rgba(99, 102, 241, 0.6);
}

.text-border {
  text-shadow: 8px 0 #27272a, -8px 0 #27272a, 0 8px #27272a, 0 -8px #27272a,
    4px 4px #27272a, -4px -4px #27272a, 4px -4px #27272a, -4px 4px #27272a;
}

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      35% 40% at 44% 50%,
      rgba(99, 102, 241, 0.476) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }

  .background-gradient::after {
    background: radial-gradient(
      30% 35% at 64% 60%,
      rgba(16, 185, 129, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

.title-text h1 {
  animation-delay: 0s;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  --title-text-height: calc(100% / var(--title-texts) - 1px);
  --inverse-index: calc(calc(var(--title-texts) - 1) - var(--index));
  --clip-top: calc(var(--title-text-height) * var(--index));
  --clip-bottom: calc(var(--title-text-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: title-text 300ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 100ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.title-text h1:nth-child(odd) {
  --glitch-translate: 8px;
}

.title-text h1:nth-child(even) {
  --glitch-translate: -8px;
}

#title-text-1 {
  --index: 0;
}

#title-text-2 {
  --index: 1;
}

#title-text-3 {
  --index: 2;
}

.tv-static {
  background: transparent url("./tv-static.png") 0 0;
}

@keyframes title-text {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}
