@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #a36de9; /* WebKit/Blink Browsers */
  color: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #a36de9; /* Gecko Browsers */
  color: #fff; /* Gecko Browsers */
}

.card {
  --mask: linear-gradient(#18181b, #18181b50);
  --dotsColor: 255 255 255;
  --cardBg: linear-gradient(135deg, hotpink, blue);
  background: var(--cardBg);
  overflow: hidden;
  border-image: var(--cardBg) 30;
  transform: rotate(180deg);
  --bgSize: calc(var(--size) * 1.3);
  --bgPosition: calc(var(--bgSize) / 2);
  --stops: rgb(var(--dotsColor)) 3%,
    rgb(var(--dotsColor) / 0.15) calc(var(--dotRadius, 53%) * 0.95);
  --bg: radial-gradient(circle at center, var(--stops)),
    radial-gradient(circle at center, var(--stops));
}

.halftone {
  position: relative;
  aspect-ratio: 1;
  background: #18181b;
  filter: contrast(var(--contrast, 20)) invert(var(--invert, 0));
  mix-blend-mode: var(--blendMode, multiply);
}

.halftone::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg);
  background-size: var(--bgSize, 0.75rem) var(--bgSize, 0.75rem);
  background-repeat: round;
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  mask-size: cover;
  mask-position: center;
  transition: background-size 100ms;
}
