import type { IApiServiceConfiguration } from "@base/types";

{{#models}}
{{#model}}
import { {{{ classname }}} } from "@{{libraryName}}/types";
{{/model}}
{{/models}}
{{#apiInfo}}
{{#apis}}
{{#operations}}

export const {{classname}}ServiceId = Symbol("{{classname}}.Service");

export interface I{{classname}}Service {
    {{#operation}}
    {{methodName}}: ({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}options?: IApiServiceConfiguration) => Promise<{{{returnType}}}{{^returnType}}void{{/returnType}}>;

    {{/operation}}
}
{{/operations}}
{{/apis}}
{{/apiInfo}}