{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Client data-access library for {{domainName}}",
  "keywords": [
    {{domainName}},
    {{projectName}},
    "openapi-redux",
    "open-system",
    "data-access"
  ],
  "license": "BSD 2-Clause License",
  "type": "commonjs"
}
