.heroBanner {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.heroTitle {
  font-size: 30px;
  font-family: 'Nunito Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}
