.background-caution {
  background: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(0,0,0,0.4) 20px, rgba(0,0,0,0.4) 40px);
}

button, .ripple-container.ripple-inner, .ripple-container-dark.ripple-inner {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  background-color: #6200EE;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

button span.ripple, .ripple-container span.ripple {
  background-color: rgba(255, 255, 255, 0.7);
}

.ripple-container-dark span.ripple {
  background-color: rgba(36, 6, 79, 0.3);
}



@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}